DATABASE_HOST=my-epic-db.com
DATABASE_PORT=9999
DATABASE_DB=default
DATABASE_USER=postgres
DATABASE_PASSWORD=password123
DUCK_DB_SYNC=false
REDIS_URL=redis://my.redis.com:1999
REDIS_USERNAME=username
REDIS_PASSWORD=password123
